@tailwind base;
@tailwind components;
@tailwind utilities;

@import "animation";
@import "themes/dark";

html, body, #__nuxt, #__layout {
  height: 100% !important;
  width: 100% !important;
  font-family: "Inter V", sans-serif;

  ::-webkit-scrollbar {
    width: 0.5rem;
    padding: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: var(--bg-secondary);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--bg-card);
    border-radius: 0.5rem;
  }
}

@font-face {
  font-family: "Testimonial";
  src: local("Testimonial"), url("/font/PPEditorialNew-UltralightItalic.otf") format("opentype");
  font-display: swap;
}

@layer components {
  .font-testimonial {
    font-family: "Testimonial", sans-serif;
    @apply tracking-wider
  }

  .text-gradient {
    @apply bg-clip-text text-transparent;
    @apply bg-gradient-to-bl from-accent-primary to-accent-secondary;
  }

  .white-gradient-tb {
    @apply bg-clip-text text-transparent tracking-wide;
    @apply bg-gradient-to-b from-white to-gray-400;
  }

  .linebreak {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background-image: linear-gradient(96.18deg, rgba(215, 196, 255, 0) 10%, rgba(200, 200, 200, 0.24) 50%, rgba(215, 196, 255, 0) 90%);
  }

  .text-white-shadow {
    text-shadow: 0 4px 10px rgba(0, 87, 255, .2), 0 -4px 10px rgba(255, 90, 0, .15), 0 0 30px rgba(255, 255, 255, .2);
  }

  .white-gradient {
    @apply bg-gradient-to-b from-white/25 to-white bg-clip-text text-lg font-medium text-transparent
  }

  .text-white-gradient {
    background-image: linear-gradient(#f2f2f2 50%, rgba(242, 242, 242, .2));
    background-clip: text;
    font-style: italic;
    @apply tracking-wider;
  }
}
.h-70 {
  height: 70vh;
}
.hero-bg {
  // background-image: url("/assets/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  // background-size: 100% 100%;
  background-size: cover;
  box-shadow: inset 0px -80px 60px 9px rgba(0, 0, 0, 0.26);
}
.center-abs{
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-abs2{
  top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
* {
  line-height: unset !important;
}
@media (max-width:991px) {
  .center-abs2{
  top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}
// * {
//   line-height: normal !important;
// }
}

.gridAlignStart{
display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    flex-direction: row;
    justify-content: flex-start;
}
.gridAlignEnd{
      display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    flex-direction: row;
    justify-content: flex-end;
}
.gridAlignCenter{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    flex-direction: row;
}
body{height: auto !important;}
@media (max-width:991px) {
  .h-32{ width: 6rem !important}
  .w-32{ height: 6rem !important}
  .text-xl{font-size: 1rem;}
  .text-base{font-size: 0.875rem;font-weight: 200;}
  // .pt-4{padding-top: 0;}
}
.pointer{
  cursor: pointer;
}
.logo-footer{
  max-width: 130px;
  height: auto !important;
  transform: scale(0.7);
}

.Home-logo{
  max-width: 220px;
}
.pa-home{
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.08;
  z-index: -1;
  padding-right: 15px;
  padding-left: 15px;
  transform: translate(-50%,-50%);
  width: 100%;
}

.home-cont {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 82vh;
}
@media (max-width:991px) {
  .home-cont{
    overflow: hidden !important;
    height:100vh !important;
  }
}

.text-heading-weight{
    font-weight: 500;
}
